{% extends 'base.html' %}
{% load static %}

{% block title %}
Project Details
{% endblock title %}

{% block body %}

<div class="px-4">
    <div class="bg-white flex flex-col">
        <!-- Title -->
        <div class="flex flex-col bg-custom-lintingGreenDark items-center mt-10 p-8 rounded-t-lg w-full ">
            <div class="font-raleway text-2xl sm:text-3xl md:text-4xl font-bold  text-white">
                {{ project.title }}
            </div>
        </div>
    
        <!-- Content section -->
        <div class="flex flex-col bg-white mt-4 items-center p-4 ">
            
                <div class="w-full flex justify-center">
                    <div class="w-full sm:w-4/5 md:w-full lg:w-full">
                        <img src=" {% if project.cover_image %}{{ project.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ project.title }}" class="w-full h-64 object-cover rounded-lg mb-6">
                    </div>
                 </div>
            
        </div>
            
       
        <!--  description -->

        <div class="flex flex-col text-black font-lato text-2xl sm:text-sm px-6 text-center mt-2 font-medium  ">
        
            <!-- Short description -->
            <div class="w-full  flex items-center h-full  p-1">
                <h1 class=" md:text-2xl text-center font-semibold sm:text-base font-raleway ">
                    {{ project.short_description }}
                </h1>
            </div>
        </div>
   
        <!-- Long description -->
        <div class="mx-4  mt-4">
            <div class="w-full font-lato font-medium text-2xl p-2 " id="description-container">
                <p id="description">
                    {{ project.description | escapejs }}
                </p>    
            </div>
        
        </div>
                            
                                <!-- Spacing script -->
            <script>
                const description = document.getElementById('description');
                
                let formattedText = description.innerHTML.replace(/\n\n/g, '<br>');
                
                description.innerHTML = formattedText;
            </script>
            
       
    </div>  
                 

    </div>
        
    
    

         <!--Team section -->
         
          
        

                            <!-- Title -->
        <div class="flex flex-col md:items-start items-center mt-8 w-full mx-auto">
                                <!-- Title Section -->
            <div class="md:bg-custom-cyanBlue bg-white p-2 rounded-r-lg w-auto mb-4">
                    <h2 class="text-3xl md:text-white sm:text-black font-semibold font-raleway sm:text-center ">Team Members</h2>
             </div>
                            
                              
        </div>
         
         <div class="mt-2 w-full flex flex-col items-center mx-auto ">
            
            
        
            <!-- List Container -->
            <div class="w-3/4   mx-auto">
                <div class="px-6">
                    <ul class="list-disc list-inside text-left font-lato font-medium text-[20px] space-y-1" style="list-style-type: disc; list-style-position: inside;">
                        <style>
                            ul.list-disc > li::marker {
                                font-size: 30px; /* Increase the size of the disc */
                                color: #FF0000; /* Change the color of the disc */
                            }
                        </style>
                        
                        {% for member in project.team.all %}
                            <li class="font-lato text-black  font-medium text-2xl">{{ member.first_name }} {{ member.last_name }}</li>
                        {% empty %}
                            <li class="text-center font-lato font-semibold text-2xl">No team members available.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
             

    
    </div>  
</div>

   
    
    <!-- Back to List Link -->
    
    <a href="{% url 'projects:list' %}" class="inline-flex items-center text-blue-600 hover:text-blue-800 font-medium text-lg hover:bg-blue-200 p-2 rounded">
        <svg
            class="w-6 h-6 mr-3"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
            />
        </svg>
        Back to list
    </a>
</div>

{% endblock body %}
