{% extends 'base_list.html' %}
{% load static %}
{% block title %}Robots{% endblock title %}
{% block banner_title %}Robots{% endblock banner_title %}
{% block content %}
{% for robot in robots %}
<div class="relative bg-[#c5c5c6]  rounded-lg p-8  mt-40 sm:mt-{% if forloop.first %}36{% else %}16{% endif %} mr-16 ml-16 sm:mr-4 sm:ml-4 " id="robot-section">
    <div class=" sm:-mb-44">
        <img src="{% static 'img/robots/softbank-logo.png' %}" alt="SoftBank Logo" class="absolute top-8 left-4 sm:top-4 sm:left-2">
    </div>
    <div class="flex flex-col sm:flex-row {% if forloop.counter|divisibleby:2 %}sm:flex-row-reverse{% else %}sm:flex-row{% endif %} items-center mb-4 sm:mb-8 sm:mt-4">
        <div class="w-full mt-8 sm:w-3/4 {% if forloop.counter|divisibleby:2 %}sm:mr-4{% else %}sm:ml-4{% endif %} sm:mt-0">
            <h2 class="text-xl font-bold sm:text-lg sm:mt-0">{{ robot.title }}</h2>
            <p class="text-gray-700 mb-4 sm:mb-2 sm:mt-0">
                {{ robot.description }}
            </p>
            <a href="{{ publication.external_link }}" class="mt-4 w-fit flex justify-between items-center p-2 bg-custom-navyBlue text-white border-2 border-custom-navyBlue rounded-lg hover:bg-transparent hover:border-2 hover:text-custom-navyBlue transition duration-300" target="_blank">
                <span>Learn more</span>
                <i class="ml-2 fa fa-external-link" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sm:w-1/2 sm:mb-0 sm:mt-0 sm:order-2">
            <img src="{% if robot.cover_image %}{{ robot.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ robot.title }}" class="rounded-lg h-64 sm:h-auto">
        </div>
    </div>
</div>



{% endfor %}
{% endblock content %}
