{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block body %}
<div class="bg-white">

    {% comment %} TEAM SECTION {% endcomment %}
    <section class="py-20">
        <div class="flex flex-col md:flex-row justify-center gap-10 py-10 px-4 md:px-8">
            <!-- Image Section -->
            <div class="flex justify-center md:w-1/2">
                <img src="{% static 'img/image 3.jpg' %}" alt="About Image"
                    class="w-full h-auto object-cover shadow-xl rounded-lg transform transition-all duration-500 ease-in-out hover:scale-105 hover:shadow-2xl">
            </div>
    
            <!-- Text Section -->
            <div class="w-full md:w-1/2 flex flex-col text-left gap-6 md:gap-8">
                <h2 class="text-xl md:text-2xl font-raleway text-gray-800  font-bold">OUR TEAM</h2>
                <p class="text-gray-600 text-justify  text-lg leading-relaxed">
                    We have a team of five MSc. Engineering students at the Department of Computing, JKUAT, supported under the Social Robotics Lab. 
                    The team is led by Dr. Eunice Njeri in collaboration with faculty members from the Department of Computing. 
                    The lab's projects focus on designing intuitive social interactions by integrating human-centered design, responsible computing,
                     artificial intelligence, machine learning, computer vision, natural language processing, and affective computing. 
                     Our goal is to address societal challenges in education, social training, and social care through innovative and impactful research.
                </p>
                <a href="{% url 'people:list' %}" class="w-fit items-center p-3 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300 ">
                    <span class="text-xl">Discover Our Team</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
        </div>
    </section>



    <!-- Second Section -->
    <div class="mb-8 md:mb-12 font-lato px-4 md:px-8 lg:px-16 xl:px-40">
        <div class="flex flex-col md:flex-row gap-6 md:gap-8 lg:gap-12 items-center">
            <!-- Text Section -->
            <div class="w-full md:w-1/2 p-4 md:p-0 md:pr-6 lg:pr-10 order-2 md:order-1">
                <h2 class="text-xl md:text-2xl font-raleway text-gray-800 mb-4 font-bold">
                    Responsible Robotics in Social Environments
                    <!-- EXPLORING THE INTERSECTION OF TECHNOLOGY  AND HUMANITY -->
                </h2>
                <p class="text-gray-600 text-lg text-justify leading-relaxed ">
                 At the Social Robotics Lab, we are dedicated to designing robots that enhance social interaction and 
                 support human well-being through empathetic and inclusive design. Our research explores how robots can 
                 understand and respond to human social cues, promote social inclusion, and navigate the ethical 
                 challenges of robotic technology.We aim to advance the field of social robotics by developing innovative 
                 approaches that integrate robots into everyday environments —education, social training, homes, and 
                 healthcare settings—where they can assist with tasks, support learning, and provide companionship to 
                 individuals with specific needs.
                    <!-- The lab focuses on creating robots that enhance social interaction and support human well-being
                    through empathetic and inclusive design. Research at the social robotics lab focuses on various
                    aspects of human-robot interaction, including how robots can be designed to understand and respond
                    to human emotions, promote social inclusion, and address the ethical implications of robotic
                    technology. The lab aims to advance the field of social robotics by exploring innovative approaches
                    to designing robots that can positively impact people's lives. This includes studying how robots can
                    be integrated into everyday settings, such as homes and educational environments, to assist with
                    tasks and support individuals with specific needs. The lab also emphasizes the importance of
                    responsible design, ensuring that robotic systems are developed with considerations for inclusivity,
                    ethical design fairness, accessibility, cultural sensitivity, and societal impact. -->
                </p>
            </div>
            <!-- Image Section -->
            <div class="w-full md:w-1/2 h-64 md:h-auto order-1 md:order-2">
                <img src="{% static 'img/about/about-2.jpeg' %}"
                    class="w-full h-full object-cover shadow-lg rounded-lg">
            </div>
        </div>
    </div>
    <!-- Vision Section
    <div class="my-16 md:my-28 px-4 md:px-8 lg:px-16 xl:px-40">
        <h2 class="text-2xl md:text-3xl text-custom-lintingGreenDark font-raleway text-center mb-4">OUR VISION</h2>
        <p class="text-gray-600 text-center text-sm md:text-base">
            We envision a future where technological innovation is deeply intertwined with ethical responsibility. The
            JKUAT Social Robotics initiative is at the forefront of this vision, particularly through the Mozilla
            Responsible Computing project. By embedding responsible computing practices into Human-Computer Interaction
            (HCI) courses, we challenge our students to consider the societal impacts of their work and to develop
            robotic applications that prioritize human welfare and ethical accountability.
        </p>
    </div> -->
    <!-- Methodology Section -->
    <div
        class="mb-16 flex flex-col gap-5 px-4 md:px-8 lg:px-16 xl:px-40 md:flex-row items-center justify-center bg-[#ECEDF2] py-8">
        <div class="md:pr-0 mb-8 md:mb-0">
            <img src="{% static 'img/about-image.png' %}" alt="about-image"
                class="rounded-lg w-full md:w-auto h-auto md:h-[400px] shadow-md">
        </div>
        <div class="md:w-1/2">
            <h2 class="text-xl md:text-2xl font-raleway text-gray-800 mb-2 font-bold">TEACHING RESPONSIBLE COMPUTING- METHODOLOGY</h2>
            <span class="text-gray-800 mb-4 font-semibold italic">Training Approach</span>
            <p class="text-gray-600 text-lg  text-justifyleading-relaxed">
                Our methodology emphasizes hands-on learning and real-world design scenarios to make Responsible Computing (RC) and ethics both practical and engaging.
                <ul>
               <li> Team-Based RC Projects – Students collaborate in teams to design projects that integrate RC principles, fostering critical thinking and ethical awareness.</li>
                <li>Ethical Training Workshops – We conduct structured workshops incorporating design scenarios, case studies, and expert guest lectures to provide a comprehensive understanding of RC.</li>
                <li>Industry and Academic Engagement – Guest lecturers from both industry and academia share insights on responsible technology development.</li>
                <li>Applied Learning – Students apply the RC knowledge gained to their projects, enabling them to internalize ethical principles and implement them in real-world scenarios.</li>
            </ul>
            </p>
        </div>
    </div>
    <!-- Team Section -->
    <!-- <div class="flex flex-col lg:flex-row gap-8 px-4 md:px-8 lg:px-16 xl:px-40 pb-10">
        <div class="lg:w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center lg:text-left">Our Team</h2>
            <div class="mb-6">
                <h3 class="text-xl font-semibold text-gray-600 mb-3 text-center lg:text-left">Guided by visionary
                    leaders</h3>
                <p class="text-gray-600 text-base text-center lg:text-left">
                    The JKUAT Social Robotics initiative is spearheaded by Dr. Eunice Njeri, a lecturer and PI
                    for the Mozilla Responsible Computer Challenge (RCC) project in the Department of Computing at Jomo
                    Kenyatta University of Agriculture and Technology (JKUAT) and Prof. Stephen Kimani, the Director ICT
                    in JKUAT who is also part of the Mozilla RCC Project.
                </p>
            </div>
            <div>
                <h3 class="text-xl font-semibold text-gray-600 mb-3 text-center lg:text-left">Collaborative Excellence
                </h3>
                <p class="text-gray-600 text-base text-center lg:text-left">
                    Our team comprises of four dedicated MSc students—Caroline Kabunyi, Erick Otieno, Paul Ndemo, and
                    Peter Kaburu—who bring their intellectual rigor and passion for ethical computing to the forefront
                    of this initiative. Their contributions are instrumental in advancing our mission and making a
                    lasting impact on both the academic community and society. It also includes 5 undergraduate students
                    who are eager to learn and enthusiastic about social robotics and ethics in technology.
                </p>
            </div>
        </div>
        <div class="lg:w-1/2 flex items-center justify-center">
            <img src="{% static 'img/about/about-team.jpg' %}" alt="Our Team"
                class="w-full max-w-md h-auto object-cover rounded-lg shadow-md">
        </div>
    </div> -->
    <!--Last section-->
    <div class="bg-[#ECEDF2] p-4 md:p-6" id="about-lower">
        <!-- Impact Section -->
        <div class="bg-white p-4 md:p-6 rounded-lg my-8 md:m-16" id="lower-section1">
            <img src="{% static 'img/impact-icon.png' %}" alt="about-image" class="float-left mr-4 mb-4">
            <h2 class="text-xl md:text-2xl  text-gray-800 font-bold">IMPACT AND OUTREACH</h2>
            <span class="italic text-lg md:text-xl text-gray-800 block mb-2">Transformative Outcomes</span>
            <p class="clear-both text-gray-600 text-lg text-justify leading-relaxed">
            The JKUAT Social Robotics Lab initiative is already making significant strides. Currently, 
            there are five ongoing MSc projects by Software Engineering students at the Department of Computing, 
            JKUAT, supported under the Social Robotics Project. These projects explore various aspects of social
             robotics and machine learning, with a focus on education, social training, and social care. As part 
             of our ongoing responsible computing project,  we have trained (n =~150 students ) Computer Science and Technology s
             tudents about robotics and responsible computing. Explore some of the impact the lab has made: 
            </p>
            <p class="text-lg text-gray-700 font-bold">
                Explore some of the impact the lab has made:
            </p>
            <ul class="  space-y-2 text-lg text-gray-700 ">
                <li>
                    RCC programme 
                    <a href="https://youtu.be/0Poy3Iavmeg" target="_blank" class="text-blue-600 hover:underline font-semibold">
                        Click here to see the video
                    </a>
                </li>
                <li>
                    RCC programme and student impact 
                    <a href="https://foundation.mozilla.org/en/blog/robotics-and-ethics-intersect-for-rcc-awardee-jomo-kenyatta-university/" 
                       target="_blank" class="text-blue-600 hover:underline font-semibold">
                        Click here to see the blog
                    </a>
                </li>
                <li>
                    Responsible AI webinar 
                    <a href="https://discover.jkuat.ac.ke/responsible-ai-key-to-harnessing-its-potential/" 
                       target="_blank" class="text-blue-600 hover:underline font-semibold">
                        Click here to see the blog
                    </a>
                </li>
                <li>
                    Ethical design workshop 
                    <a href="https://discover.jkuat.ac.ke/integrating-african-perspectives-in-technology-and-design-processes/" 
                       target="_blank" class="text-blue-600 hover:underline font-semibold">
                        Click here to see the resource
                    </a>
                </li>
                <li>
                    Girls in robotics 
                    <a href="https://www.jkuat.ac.ke/programme-to-attract-young-women-to-stem-unveiled/#:~:text=To%unroll%this%practice%2C" 
                       target="_blank" class="text-blue-600 hover:underline font-semibold">
                        Click here to see the resource
                    </a>
                </li>
            </ul>
                        
            
        </div>
        <!-- Reflections Section -->
        <!-- <div class="bg-white p-4 md:p-6 rounded-lg my-8 md:m-16" id="lower-section1">
            <div>
                <img src="{% static 'img/reflections-icon.png' %}" alt="about-image" class="float-left mr-4 mb-4">
                <h2 class="text-xl md:text-2xl font-raleway text-gray-800 font-bold">REFLECTIONS AND FUTURE DIRECTIONS</h2>
                <span class="italic text-lg md:text-xl text-gray-800 block mb-2">Shaping the future of social
                    robotics</span>
                <p class="clear-both text-gray-600 text-lg text-justify leading-relaxed">
                    As we look to the future, we are committed to addressing the challenges and opportunities at the
                    intersection of ethics and technology. Key lessons from our initiative highlight the importance of
                    data protection and privacy, especially in sensitive sectors like healthcare. Guided by Mozilla's
                    ethical guidelines, we emphasize responsible data stewardship and explicit consent, setting a strong
                    foundation for future generations of technologists.
                </p>
            </div>
        </div> -->
    </div>
</div>
{% endblock body %}