{% extends 'base_list.html' %}
{% load static %}



{% block title %}
Activities
{% endblock title %}

{% block banner_title %}
Outreach
{% endblock banner_title %}


{% block content %}
<div class="flex flex-col lg:flex-row container mx-auto px-4 py-8 lg:py-16">

        <!-- sidebar -->
        <aside class="w-full lg:w-1/4 mb-8 lg:mb-0 lg:pr-8">
            <h2 class="text-2xl font-semibold mb-4">Upcoming Events</h2>
        {% for event in events %}
        <div class="bg-custom-lightGray p-4 rounded-lg shadow-lg mb-4">
            <h3 class="text-xl font-semibold">{{ event.title }}</h3>
            <p class="text-gray-600">{{ event.date_starting }}</p>
            <p class="text-gray-600">{{ event.location }}</p>
            <a href="{{ event.external_link }}" class="text-custom-lintingGreenDark font-semibold hover:underline">Learn More</a>
        </div>
        {% empty %}
        <p class="text-gray-600">No upcoming events.</p>
        {% endfor %}
    </aside>

    <!-- main content -->
    <main class="w-full lg:w-3/4">
        <!-- the news section -->
        <section class="mb-12">
            <h2 class="text-2xl font-semibold mb-4">Latest News</h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                {% for news in news %}
                <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col sm:flex-row items-center">
                    <div class="lg:w-1/2 mb-6 sm:mr-4">
                        <img src="{% if news.cover_image %}{{ news.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ news }}" class="object-cover rounded-lg w-full h-40">
                    </div>
                    <div class="lg:w-1/2 text-center sm:text-left">
                        <a href="{{ news.external_link }}" target="_blank" class="text-custom-lintingGreenDark text-xl font-semibold hover:underline">{{ news.title }}</a>
                        <p class="text-gray-600 mt-2">{{ news.created_at }}</p>
                        <p class="text-gray-700 mt-4">{{ news.description|truncatewords:30 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        
        <section>
            <h2 class="text-2xl font-semibold mb-4">Latest Activities</h2>
            <div class="grid grid-cols-1 gap-8">
                <article>
                    <h3 class="text-xl font-semibold text-custom-lintingGreenDark mb-4">Programme to Attract Young Women to STEM Unveiled</h3>
                    <img src="../../static/img/labrobots.jpeg" alt="Lab Robots" class="w-full h-64 object-cover rounded-lg mb-6">
                    <div class="text-gray-700 space-y-4">
                        <p>
                            The enduring perception, mostly stereotypical, that girls are not well adopted to pursue courses and careers
                            in science, technology, engineering and mathematics (STEM) has stopped many girls from enrolling into STEM
                            subjects.
                        </p>
                        <p>
                            To unroll this practice, Jomo Kenyatta University of Agriculture and Technology has launched a strategic
                            initiative designed to empower and woo young women enrolled in the Competency-Based Curriculum (CBC) system,
                            guiding them toward Science, Technology, Engineering, and Mathematics (STEM) careers.
                            By actively engaging with the students and providing them with targeted support and career guidance, the
                            university aims to instill balance in traditional career paradigms and foster a more inclusive and diverse
                            landscape within STEM fields.
                        </p>
                        <p>
                            Dr. Mindila introduces the pupils to the SCIT computer complex
                            As a prerequisite to the upcoming commemoration of Girls in ICT Day on April 25, 2024, JKUAT trained 50
                            pupils from JKUAT Primary on robotics and STEM careers. During the session, it was observed that more than
                            95% of the young women who were trained expressed a preference for careers outside of STEM fields. Many of
                            them indicated aspirations for careers in law, medicine, and the arts, among others.
                            After the training, things took a turn for the better. Dorris Amakobe, a grade 7 pupil who harbors
                            aspirations to be a lawyer had a mental shift.
                        </p>
                        <p>
                            <span class="italic">
                                “I have learnt about careers in technology and I have become interested in artificial
                                intelligence. I want to know how to teach robots to act like humans,”
                            </span>
                            said Doris.
                        </p>
                        <p>
                            Director of the School of Computing and Information Technology, Dr. Agnes Mindila, stated that teaching
                            children while they are young helps them form their own career paths in technology.
                            Dr. Mindila revealed that plans are underway to make the training an annual event.
                        </p>
                        <p>
                            <span class="italic">
                                "We have started from home but in future we are planning to rope in students from different schools as
                                part of the commemoration of women in ICT,”
                            </span>
                            said Dr. Mindila.
                            She added that the training also provided a valuable window for the university to gather insights into CBC
                            for future endeavours in curriculum development.
                        </p>
                        <p>The training was supported by UNICEF project under SCIT.</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% endblock content %}