{% extends 'base.html' %}
{% load static %}


{% block title %}
Home
{% endblock title %}



{% block body %}
<!-- Hero Section -->
<section class="bg-custom-cyanBlue" tabindex="-1">
    <div class="flex flex-col md:flex-row items-center md:justify-evenly px-4 md:px-8">
        <!-- Robot Image with Animation -->
        <div class="w-full md:w-1/2 md:mb-0 md:ml-24 sm:ml-2 opacity-0 animate__animated animate__fadeInLeft animate__delay-1s">
            <img src="{% static 'img/image 19.png' %}" alt="Robot" class="w-full max-w-full h-auto">
        </div>

        <!-- Text Section with Typing Animation -->
        <div class="w-full md:w-1/2 text-white text-center sm:mt-6 sm:mb-8 pr-4 md:mr-16 lg:mr-24">
        <!-- Animated Text with Typing Effect -->
        <h1 id="text1" class="text-4xl sm:text-4xl md:text-6xl font-raleway font-bold text-white mb-2 sm:mt-2 typing-effect">Welcome to JKUAT</h1>
        <h2 id="text2" class="text-3xl sm:text-3xl md:text-5xl font-raleway mb-2 sm:mt-4 sm:mx-2 typing-effect">SOCIAL ROBOTICS LAB</h2>


            <p class="mt-8 text-2xl mb-8 font-lato"></p>
            <div class="sm:mb-8">
                <a href="{% url 'core:about' %}"
                    class="p-2 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:border-2 hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">About us</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- First Section -->
<div class="my-8 md:my-12 font-lato px-4 md:px-8 lg:px-16 xl:px-40">
    <div class="flex flex-col md:flex-row items-center gap-8">
        <!-- Image Section with Tailwind Animation -->
        <div class="w-full md:w-1/3 h-64 md:h-auto opacity-0 transform -translate-x-20 transition-all duration-1500 delay-2000 ease-out animate-fadeInLeft">
            <img src="{% static 'img/about/about-1.jpeg' %}" alt="About JKUAT Social Robotics"
                class="w-full h-full object-cover rounded-lg shadow-lg">
        </div>

        <!-- Text Section with Tailwind Animation -->
        <div class="w-full md:w-2/3 opacity-0 transform translate-x-20 transition-all duration-1500 delay-2000 ease-out animate-fadeInRight">
            <h2 class="text-2xl md:text-3xl font-raleway text-gray-800 mb-4 font-bold">ABOUT JKUAT SOCIAL ROBOTICS</h2>
            <p class="text-gray-600 text-base md:text-lg leading-relaxed mb-6">
            At JKUAT Social Robotics Lab, we aim to design and develop robots that learn to interact socially in human environments.
            The research work at the lab focuses on the following areas: Education, Social Training, Assistive Robots, and Responsible Computing.
            We aim to embed human-centered and responsible computing principles — Inclusivity and Accessibility, Ethical Design (fairness, transparency, 
            trust, privacy), and Societal Impact (economic, social, empathy) — to build effective and intuitive interactions between people and 
            robotic technologies in human environments. 
            </p>
            <a href="{% url 'core:about' %}"
                class="p-4 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:border-2 hover:text-custom-lintingGreenDark transition duration-300">
                <span class="text-xl">Learn More</span>
                <i class="fa-solid fa-arrow-right-long ml-2"></i>
            </a>
        </div>
    </div>
</div>


<div class="swiper-container bg-custom-lightGray pb-10 mx-16 pt-10">
    <h2 class="font-bold text-center text-4xl sm:2xl mb-5">Explore Some of Our Projects</h2>
    <div class="swiper-wrapper">
        {% for project in projects %}
        <div class="swiper-slide bg-white rounded-lg p-4 sm:p-6 mx-2 flex flex-col sm:flex-row items-center">
            <!-- Project Image -->
            <div class="flex-shrink-0 w-full sm:w-1/3 lg:w-1/4">
                {% if project.cover_image %}
                <img src="{{ project.cover_image.url }}" alt="{{ project.title }}" class="object-cover rounded-lg  ">
                {% else %}
                <img src="{% static 'img/core/default-image.png' %}" alt="Default Project Image" class="object-cover rounded-lg w-[300px] h-[180px] lg:w-[400px] lg:h-[250px]">
                {% endif %}
            </div>
            <!-- Project Description -->
            <div class="flex-grow w-full sm:w-2/3 lg:w-3/4 flex flex-col justify-center">
                <h2 class="text-xl sm:text-md font-raleway font-semibold mb-2">{{ project.title }}</h2>
                <p class="text-sm sm:text-base text-gray-600 font-lato mb-2">{{ project.date_starting }}</p>
                <p class="text-sm sm:text-base text-gray-600 mb-4">{{ project.location }}</p>
                <p class="text-sm sm:text-base text-gray-700 font-lato mb-4">{{ project.short_description }}</p>
                <!-- Read More Button -->
                <div class="mt-4 w-fit flex justify-center items-center p-2 bg-custom-lintingGreenDark text-white border-2 rounded-lg 
                            hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <a href="{{ project.get_absolute_url }}" class="flex items-center">
                        Learn more
                        <i class="fa-solid fa-arrow-right-long ml-2"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<!-- Upcoming Events Section -->
<section class="py-20 md:px-40 px-5 bg-white">
    <div>
        {% if upcoming_events %}
        <h2 class="text-2xl md:text-4xl font-raleway text-center mb-5 md:mb-10 font-bold">UPCOMING EVENTS</h2>
        {% else %}
        <h2 class="text-2xl md:text-4xl font-raleway text-center mb-5 md:mb-10 font-bold">RECENT EVENTS</h2>
        {% endif %}
        
        <!-- Swiper Carousel for events -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for event in upcoming_events %}
                <div class="swiper-slide">
                    <div class="bg-custom-lightGray p-6 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:scale-105 w-full md:max-w-lg">
                        <h3 class="text-2xl font-semibold">{{ event.title }}</h3>
                        {% if event.cover_image %}
                        <img src="{{ event.cover_image.url }}" alt="Event Image"
                            class="w-full h-auto max-h-64 object-scale-down rounded-md mb-4">
                        {% endif %}
                        <p class="text-gray-600">{{ event.date_starting }}</p>
                        <p class="text-gray-600 mb-6">{{ event.location }}</p>
                        <p class="text-gray-700 mb-4">{{ event.description }}</p>
                        <a href="{{ event.external_link }}"
                            class="mt-auto self-end w-fit items-center px-4 py-2 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:text-custom-lintingGreenDark transition duration-300">
                            Learn more
                            <i class="ml-2 fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                {% empty %}
                {% for event in past_events %}
                <div class="swiper-slide">
                    <div class="bg-custom-lightGray p-6 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:scale-105 w-full md:max-w-lg">
                        <h3 class="text-2xl font-semibold">{{ event.title }}</h3>
                        {% if event.cover_image %}
                        <img src="{{ event.cover_image.url }}" alt="Event Image"
                            class="w-full h-auto max-h-64 object-scale-down rounded-md mb-4">
                        {% endif %}
                        <div class="flex gap-x-4">
                            <p class="text-gray-600">{{ event.date_starting }}</p>
                            {% if event.date_ending %}
                            - <p class="text-gray-600">{{ event.date_ending }}</p>
                            {% endif %}
                        </div>
                        <p class="text-gray-600 mb-6">{{ event.location }}</p>
                        <p class="text-gray-700 mb-4">{{ event.description }}</p>
                        <a href="{{ event.external_link }}"
                            class="mt-auto self-end w-fit items-center px-4 py-2 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:text-custom-lintingGreenDark transition duration-300">
                            Learn more
                            <i class="ml-2 fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<!-- Latest News Section -->
<section class="py-10 md:py-20 px-5 md:px-40">
    <div>
        <h2 class="text-2xl md:text-4xl font-raleway text-center mb:5 md:mb-10 font-bold">LATEST NEWS</h2>
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">
            {% for news in news %}
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:scale-105">
                <h3 class="text-2xl font-semibold mb-2">{{ news.title }}</h3>
                <p class="text-gray-500 text-sm mb-4">Published on {{ news.date_published }}</p>
                <div class="w-full mb-4">
                    <img src="{{ news.cover_image.url }}" alt="News Image"
                        class="w-full h-auto max-h-64 object-scale-down rounded-md mb-4">
                </div>
                <p class="text-gray-700 mb-6 text-lg">{{ news.description }}</p>
                {% if news.external_link %}
                <a href="{{ news.external_link }}"
                    class="mt-auto self-end w-fit items-center px-4 py-2 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:text-custom-lintingGreenDark transition duration-300">
                    Read more
                    <i class="ml-2 fa fa-external-link" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
            {% empty %}
            <div>No news</div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Partners Section -->
<section class="py-20 px-5 bg-custom-lightGray">
    <div class="container mx-auto">
        <h2 class="text-2xl md:text-3xl font-raleway text-center mb-10">OUR PARTNERS / FUNDERS</h2>


        <!-- Partners Swiper Container -->
        <div class="partners-swiper-container swiper-container">
            <div class="swiper-wrapper">
                <!-- Partner Logo 1 -->
                <div class="swiper-slide">
                    <div class="sm:w-1/3 flex justify-center hover:scale-105 transition-transform duration-300 ease-in-out">
                        <img src="{% static 'img/home/unesco-logo.png' %}" alt="UNESCO" class="h-40">
                    </div>
                </div>
                <!-- Partner Logo 2 -->
                <div class="swiper-slide">
                    <div class="w-1/2 sm:w-1/4 flex justify-center hover:scale-105 transition-transform duration-300 ease-in-out">
                        <img src="{% static 'img/home/mozilla-logo.png' %}" alt="Mozilla" class="h-40">
                    </div>
                </div>
                <!-- Partner Logo 3 -->
                <div class="swiper-slide">
                    <div class="w-1/2 sm:w-1/4 flex justify-center hover:scale-105 transition-transform duration-300 ease-in-out">
                        <img src="{% static 'img/home/german-logo.png' %}" alt="Partner" class="h-40">
                    </div>
                </div>
                <!-- Partner Logo 4 -->
                <div class="swiper-slide">
                    <div class="w-1/2 sm:w-1/4 flex justify-center hover:scale-105 transition-transform duration-300 ease-in-out">
                        <img src="{% static 'img/home/jkuat-logo.png' %}" alt="JKAUT" class="h-20">
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endblock body %}