#main-header {
    z-index: 10;
}

#redimg {
    height: 10px;
}

#redbottomline {
    margin-right: -50px;
    margin-left: -50px;
    margin-bottom: -30px;
    z-index: 1;
}

#redbottomline img {
    width: 100%;
}

@media only screen and (max-width: 728px) {
    .main-nav ul {
        flex-direction: column;
        text-align: center;
    }
    .main-nav ul li {
        position: relative;
        margin-bottom: 10px;
    }
    #mainfooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
    }
    #footerimage {
        margin-right: 0px;
        margin-top: -50px;
    }
    #footerimage img {
        height: auto;
    }
    #robot-section {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
    #publication-card {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: space-between;
    }
    #about-lower {
        padding-left: 0px;
        padding-right: 0px;
    }
    #lower-section1 {
        margin: 0px;
        justify-content: center;
        width: 100%;
    }
}

#publication-card {
    padding: 80px;
}