{% extends 'base_list.html' %}

{% load static %}

{% block title %}
Team
{% endblock title %}


{% block banner_title %}
    Meet the minds behind JKUAT Social Robotics
{% endblock banner_title %}


{% block content %}
<div>
    <h2 class="text-6xl mb-4">Postgraduate Students</h2>
    <div class="border border-black"></div>
</div>
<div>
    <div class="flex items-center gap-5 justify-center">
        <div>
            <img src="{% static 'img/default-profile.png' %}" alt="" class="w-64 h-64 object-contain rounded-full">
        </div>
        <div class="flex flex-col gap-5">
            <div>
                <h2 class="font-bold text-4xl">Paul Ndemo</h2>
                <h4 class="text-custom-navyBlue">Software Engineer</h4>
            </div>
            <div>
                <h4 class="italic">Focus</h4>
                <p>
                    Using State Transition Graphs (STGs) in coordinating gazes between children with Autism Spectrum Disorder (ASD) and social robots to help them improve their social interaction skills. Studies in other contexts have explored the use of STGs in coordinating tasks and found them to be effective in reducing complexity and improving task execution efficiency. Hence, his research aims to explore how STGs can be used to coordinate gazes for effective interactions between children with ASD and social robots.
                </p>
            </div>
            <a class="p-2 w-fit bg-custom-lightBlue text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lightBlue hover:text-custom-lightBlue transition duration-300" href="{% url 'people:detail' 'daniel-karume-20240801185840' %}">Visit Profile</a>
        </div>
    </div>
</div>
<div class="border border-black m-5 my-16"></div>
<div class="my-16 text-end">
    <div class="flex items-center gap-10 justify-center">
        <div class="flex flex-col gap-5 w-full">
            <div>
                <h2 class="font-bold text-4xl">Paul 1Ndemo</h2>
                <h4 class="text-custom-navyBlue">Software Engineer</h4>
            </div>
            <div>
                <h4 class="italic">Focus</h4>
                <p>
                    Using State Transition Graphs (STGs) in coordinating gazes between children with Autism Spectrum Disorder (ASD) and social robots to help them improve their social interaction skills. Studies in other contexts have explored the use of STGs in coordinating tasks and found them to be effective in reducing complexity and improving task execution efficiency. Hence, his research aims to explore how STGs can be used to coordinate gazes for effective interactions between children with ASD and social robots.
                </p>
            </div>
            <div class="flex justify-end">
                <a class="p-2 w-fit bg-custom-lightBlue text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lightBlue hover:text-custom-lightBlue transition duration-300" href="{% url 'people:detail' 'daniel-karume-20240801185840' %}">Visit Profile</a>
            </div>
        </div>
        <div>
            <img src="{% static 'img/default-profile.png' %}" alt="" class="w-64 h-64 object-contain rounded-full">
        </div>
    </div>
</div>
<div class="border border-black m-5  my-16"></div>
<div class="my-16">
    <div class="flex items-center gap-5 justify-center">
        <div>
            <img src="{% static 'img/default-profile.png' %}" alt="" class="w-64 h-64 object-contain rounded-full">
        </div>
        <div class="flex flex-col gap-5">
            <div>
                <h2 class="font-bold text-4xl">Paul Ndemo</h2>
                <h4 class="text-custom-navyBlue">Software Engineer</h4>
            </div>
            <div>
                <h4 class="italic">Focus</h4>
                <p>
                    Using State Transition Graphs (STGs) in coordinating gazes between children with Autism Spectrum Disorder (ASD) and social robots to help them improve their social interaction skills. Studies in other contexts have explored the use of STGs in coordinating tasks and found them to be effective in reducing complexity and improving task execution efficiency. Hence, his research aims to explore how STGs can be used to coordinate gazes for effective interactions between children with ASD and social robots.
                </p>
            </div>
            <a class="p-2 w-fit bg-custom-lightBlue text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lightBlue hover:text-custom-lightBlue transition duration-300" href="{% url 'people:detail' 'daniel-karume-20240801185840' %}">Visit Profile</a>
        </div>
    </div>
</div>
<div>
    <div class="mb-5">
        <h2 class="text-6xl">Undergraduate Students</h2>
        <div class="border border-black"></div>
    </div>
    <div class="grid grid-cols-3 gap-4">
        <div class="aspect-square border rounded-lg bg-custom-navyBlue text-white flex flex-col">
            <div class="h-3/4 px-16 pt-4">
                <h2 class="font-bold text-6xl">
                    Our 
                    Undergraduate students
                </h2>
            </div>
            <div class="text-2xl px-16 pt-4 h-1/4">
                <p>An enthusiastic group of students with a passion  to learn</p>
            </div>
        </div>
        <div class="aspect-square border rounded-lg border-black flex flex-col">
            <div class="bg-black h-3/4">
                <img src="{% static 'img/default-profile.png' %}" alt="" class="w-full h-full object-cover">
            </div>
            <div class="flex items-center justify-between p-2 h-1/4">
                <div>
                    <h2 class="font-bold text-2xl">Daniel Karume</h2>
                    <span class="italic">Bsc. Computer Science</span>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="aspect-square border rounded-lg border-black flex flex-col">
            <div class="bg-black h-3/4">
                <img src="{% static 'img/default-profile.png' %}" alt="" class="w-full h-full object-cover">
            </div>
            <div class="flex items-center justify-between p-2 h-1/4">
                <div>
                    <h2 class="font-bold text-2xl">Daniel Karume</h2>
                    <span class="italic">Bsc. Computer Science</span>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="aspect-square border rounded-lg border-black flex flex-col">
            <div class="bg-black h-3/4">
                <img src="{% static 'img/default-profile.png' %}" alt="" class="w-full h-full object-cover">
            </div>
            <div class="flex items-center justify-between p-2 h-1/4">
                <div>
                    <h2 class="font-bold text-2xl">Daniel Karume</h2>
                    <span class="italic">Bsc. Computer Science</span>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="aspect-square border rounded-lg border-black flex flex-col">
            <div class="bg-black h-3/4">
                <img src="{% static 'img/default-profile.png' %}" alt="" class="w-full h-full object-cover">
            </div>
            <div class="flex items-center justify-between p-2 h-1/4">
                <div>
                    <h2 class="font-bold text-2xl">Daniel Karume</h2>
                    <span class="italic">Bsc. Computer Science</span>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="aspect-square border rounded-lg border-black flex flex-col">
            <div class="bg-black h-3/4">
                <img src="{% static 'img/default-profile.png' %}" alt="" class="w-full h-full object-cover">
            </div>
            <div class="flex items-center justify-between p-2 h-1/4">
                <div>
                    <h2 class="font-bold text-2xl">Daniel Karume</h2>
                    <span class="italic">Bsc. Computer Science</span>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
