{% extends 'base_list.html' %}
{% load static %}

{% block title %}
Our Team | JKUAT Social Robotics Lab
{% endblock title %}

{% block description %}
Meet the dedicated team behind the JKUAT Social Robotics Lab, experts in robotics, artificial intelligence, and innovation.
{% endblock description %}

{% block keywords %}
Team, Robotics, AI, Engineers, JKUAT, Social Robotics Lab, Experts, Technology, Research, Innovation
{% endblock keywords %}

{% block og_title %}
Meet Our Expert Team at JKUAT Social Robotics Lab
{% endblock og_title %}

{% block og_description %}
Discover the talented team driving innovation and cutting-edge research in robotics and AI at JKUAT Social Robotics Lab.
{% endblock og_description %}

{% block og_image %}
{% static 'img/team-og-image.jpg' %}
{% endblock og_image %}

{% block twitter_title %}
Meet the Team | JKUAT Social Robotics Lab
{% endblock twitter_title %}

{% block banner_title %} Our Team {% endblock banner_title %} 

{% block twitter_description %}
Get to know the experts behind our innovative work in robotics and AI at JKUAT Social Robotics Lab.
{% endblock twitter_description %}

{% block twitter_image %}
{% static 'img/team-twitter-card.jpg' %}
{% endblock twitter_image %}

{% block content %}
<div class="container mx-auto font-lato px-4">
    <h2 class="mt-4 md:mt-8 text-xl md:text-3xl font-raleway text-gray-800  font-bold">PRINCIPAL INVESTIGATOR</h2>
    <div class="border"></div>
    <div class="my-8 md:my-16">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center">
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if principal_investigator.profile_picture %}{{ principal_investigator.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" 
                    alt="{{ principal_investigator.first_name }} {{ principal_investigator.last_name }}" 
                    class="w-full h-full object-cover rounded-full transform transition duration-300 ease-in-out hover:scale-110">
            </div>
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{principal_investigator.title}} {{ principal_investigator.first_name }} {{ principal_investigator.last_name }}</h2>
                    <!-- <h4 class="text-custom-red text-lg md:text-xl">{{ principal_investigator.specialty }}</h4> -->
                </div>
                <div>
                    <!-- <h4 class="italic text-lg md:text-xl">Specialization</h4> -->
                    <p class="text-gray-600 text-justify break-words justify-text">{{ principal_investigator.focus_long|safe}}</p>
                </div>
                <a href="{% url 'people:detail' principal_investigator.slug %}" class="p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">View Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
               <!-- <a href="https://www.ro-man2025.org/" 
                class="p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">View Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a> -->

            </div>
        </div>
    </div>
</div>

<div class="border "></div>
<div class="my-8 md:my-16">
    <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center">
        <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0 rounded-full overflow-hidden flex items-center justify-center bg-gray-60">
            <img src="{% if prof.profile_picture %}{{ prof.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" 
                 alt="{{ prof.first_name }} {{ prof.last_name }}" 
                 class="w-auto h-full object-cover">
        </div>
        
        
        
        <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
            <div>
                <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{prof.title}}{{ prof.first_name }} {{ prof.last_name }}</h2>
                <h4 class="text-custom-red text-lg md:text-xl">{{ prof.specialty }}</h4>
            </div>
            <div>
                <h4 class="italic text-lg md:text-xl">Specialization</h4>
                <p class="text-gray-600 text-justify break-words">{{ prof.focus_long }}</p>
            </div>
            <a href="{% url 'people:detail' prof.slug %}" class="p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                <span class="text-xl">View Profile</span>
                <i class="fa-solid fa-arrow-right-long ml-2"></i>
            </a>
        </div>
    </div>
</div>


    <!-- <h2 class="text-2xl md:text-3xl lg:text-3xl mt-4 md:mt-8">Msc. Software Engineering</h2> -->
    <div class="border "></div>
    <div class="my-8 md:my-16">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center">
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if admin.profile_picture %}{{ admin.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ admin.first_name }} {{ admin.last_name }}" class="w-full h-full object-cover rounded-full">
            </div>
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{ admin.first_name }} {{ admin.last_name }}</h2>
                    <h4 class="text-custom-red text-lg md:text-xl">{{ admin.specialty }}</h4>
                </div>
                <div>
                    <h4 class="italic text-lg md:text-xl">Specialization</h4>
                    <p class="text-gray-600 text-justify break-words">{{ admin.focus_long }}</p>
                </div>
                <a href="{% url 'people:detail' admin.slug %}" class="p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">View Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
        </div>
    </div>


    <h2 class="mt-4 md:mt-8 text-xl md:text-3xl font-raleway text-gray-800  font-bold" >POSTGRADUATE STUDENTS</h2>
    <div class="border border-black"></div>
    {% for postgrad in postgraduates %}
    <div class="my-8 md:my-16 {% if forloop.counter|divisibleby:2 %}{% endif %}">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center {% if forloop.counter|divisibleby:2 %}md:flex-row-reverse{% endif %}">
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{ postgrad.first_name }} {{ postgrad.last_name }}</h2>
                    <h4 class="text-custom-red text-lg md:text-xl">{{ postgrad.specialty }}</h4>
                </div>
                <div>
                    <h4 class="italic text-lg md:text-xl">Specialization</h4>
                    <p class="text-gray-600 text-justify break-words">{{ postgrad.focus_long }}</p>
                </div>
                <a href="{% url 'people:detail' postgrad.slug %}" class="{% if forloop.counter|divisibleby:2 %}{% endif %} p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">View Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if postgrad.profile_picture %}{{ postgrad.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ postgrad.first_name }} {{ postgrad.last_name }}" class="w-full h-full object-cover rounded-full">
            </div>
        </div>
    </div>
    {% if not forloop.last %}
    <div class="border border-black my-8 md:my-16"></div>
    {% endif %}
    {% endfor %}


<!--     
    <div class="mt-16">
        <h2 class="mt-4 md:mt-8 text-xl md:text-3xl font-raleway text-gray-800  font-bold">UNDERGRADUATE STUDENTS</h2>
        <div class="border border-black"></div>
        {% for currentundergraduate in currentundergraduates %}
    <div class="my-8 md:my-16 {% if forloop.counter|divisibleby:2 %}{% endif %}">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center {% if forloop.counter|divisibleby:2 %}md:flex-row-reverse{% endif %}">
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{ currentundergraduate.first_name }} {{ currentundergraduate.last_name }}</h2>
                    <h4 class="text-custom-red text-lg md:text-xl">{{ currentundergraduate.specialty }}</h4>
                </div>
                <div>
                    <h4 class="italic text-lg md:text-xl">Specialization</h4>
                    <p class="text-gray-600 text-justify break-words">{{ currentundergraduate.focus_long }}</p>
                </div>
                <a href="{% url 'people:detail' currentundergraduate.slug %}" class="{% if forloop.counter|divisibleby:2 %}{% endif %} p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">View Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if postgrad.profile_picture %}{{ postgrad.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ currentundergraduate.first_name }} {{ currentundergraduate.last_name }}" class="w-full h-full object-cover rounded-full">
            </div>
        </div>
    </div>
    {% if not forloop.last %}
    <div class="border border-black my-8 md:my-16"></div>
    {% endif %}
    {% endfor %}
</div> -->
        <!-- <div class="border border-black mb-8"></div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="aspect-square border rounded-lg bg-custom-lintingGreenDark text-white flex flex-col p-6">
                <div class="h-3/4">
                    <h2 class="font-bold text-3xl md:text-4xl lg:text-5xl">
                        Robotics Dojo Team 2024
                    </h2>
                </div>
                <div class="text-lg md:text-xl lg:text-2xl h-1/4">
                    <p>The lab had the following team of undergraduate students participate in the competition.</p>
                </div>
            </div>
            {% for undergrad in undergraduates %}
            <div class="aspect-square rounded-lg shadow-lg flex flex-col overflow-hidden">
                <div class="bg-black h-3/4 flex items-center justify-center overflow-hidden rounded-t-lg">
                    <img src="{% if undergrad.profile_picture %}{{ undergrad.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" 
                         alt="{{ undergrad.first_name }} {{ undergrad.last_name }}" 
                         class="w-full h-full object-fit object-center">
                </div>
                
                
                <div class="flex items-center justify-center gap-4 p-4 h-1/4 md:gap-20">
                    <div>
                        <h2 class="font-bold text-lg md:text-xl">{{ undergrad.first_name }} {{ undergrad.last_name }}</h2>
                        <span class="italic text-sm md:text-base">{{ undergrad.degree }}</span>
                    </div>
                    <div>
                        {% if undergrad.linked_in_link %}
                        <a
                            href="{{ undergrad.linked_in_link }}"
                            class="text-blue-600 hover:text-blue-800"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <i class="fa-brands fa-linkedin fa-2xl" style="color: #4071b1;"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->

{% endblock content %}
