{% extends 'base_list.html' %}
{% load static %}

{% block title %}Team{% endblock title %}

{% block banner_title %}
    Meet the minds behind JKUAT Social Robotics
{% endblock banner_title %}

{% block content %}
<div class="container mx-auto font-lato px-4">
    <h2 class="text-2xl md:text-3xl lg:text-3xl mt-4 md:mt-8">PRINCIPAL INVESTIGATOR</h2>
    <div class="border "></div>
    <div class="my-8 md:my-16">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center">
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if principal_investigator.profile_picture %}{{ principal_investigator.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ principal_investigator.first_name }} {{ principal_investigator.last_name }}" class="w-full h-full object-cover rounded-full">
            </div>
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{ principal_investigator.first_name }} {{ principal_investigator.last_name }}</h2>
                    <h4 class="text-custom-red text-lg md:text-xl">{{ principal_investigator.specialty }}</h4>
                </div>
                <div>
                    <h4 class="italic text-lg md:text-xl">Focus</h4>
                    <p class="text-sm md:text-base">{{ principal_investigator.focus_long }}</p>
                </div>
                <a href="{% url 'people:detail' principal_investigator.slug %}" class="p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">Visit Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text-2xl md:text-3xl lg:text-3xl mt-4 md:mt-8">ADMIN</h2>
    <div class="border "></div>
    <div class="my-8 md:my-16">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center">
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if admin.profile_picture %}{{ admin.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ admin.first_name }} {{ admin.last_name }}" class="w-full h-full object-cover rounded-full">
            </div>
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{ admin.first_name }} {{ admin.last_name }}</h2>
                    <h4 class="text-custom-red text-lg md:text-xl">{{ admin.specialty }}</h4>
                </div>
                <div>
                    <h4 class="italic text-lg md:text-xl">Focus</h4>
                    <p class="text-sm md:text-base">{{ admin.focus_long }}</p>
                </div>
                <a href="{% url 'people:detail' admin.slug %}" class="p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">Visit Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
        </div>
    </div>
    
    
    <h2 class="text-2xl md:text-3xl lg:text-3xl mt-4 md:mt-8">POSTGRADUATE STUDENTS</h2>
    <div class="border border-black"></div>
    {% for postgrad in postgraduates %}
    <div class="my-8 md:my-16 {% if forloop.counter|divisibleby:2 %}{% endif %}">
        <div class="flex flex-col md:flex-row items-center gap-6 md:gap-10 justify-center {% if forloop.counter|divisibleby:2 %}md:flex-row-reverse{% endif %}">
            <div class="flex flex-col gap-4 md:gap-5 w-full md:w-2/3">
                <div>
                    <h2 class="font-semibold text-xl md:text-2xl lg:text-3xl">{{ postgrad.first_name }} {{ postgrad.last_name }}</h2>
                    <h4 class="text-custom-red text-lg md:text-xl">{{ postgrad.specialty }}</h4>
                </div>
                <div>
                    <h4 class="italic text-lg md:text-xl">Focus</h4>
                    <p class="text-sm md:text-base">{{ postgrad.focus_long }}</p>
                </div>
                <a href="{% url 'people:detail' principal_investigator.slug %}" class="{% if forloop.counter|divisibleby:2 %}{% endif %} p-2 w-fit bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
                    <span class="text-xl">Visit Profile</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
            </div>
            <div class="w-48 h-48 md:w-64 md:h-64 flex-shrink-0">
                <img src="{% if postgrad.profile_picture %}{{ postgrad.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ postgrad.first_name }} {{ postgrad.last_name }}" class="w-full h-full object-cover rounded-full">
            </div>
        </div>
    </div>
    {% if not forloop.last %}
    <div class="border border-black my-8 md:my-16"></div>
    {% endif %}
    {% endfor %}
    <div class="mt-16">
        <h2 class="text-2xl md:text-3xl lg:text-3xl mt-4 md:mt-8">UNDERGRADUATE STUDENTS</h2>
        <div class="border border-black mb-8"></div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="aspect-square border rounded-lg bg-custom-lintingGreenDark text-white flex flex-col p-6">
                <div class="h-3/4">
                    <h2 class="font-bold text-3xl md:text-4xl lg:text-5xl">
                        Computer Science Undergraduate Students
                    </h2>
                </div>
                <div class="text-lg md:text-xl lg:text-2xl h-1/4">
                    <p>A group of students in the Robotics Dojo Program 2024</p>
                </div>
            </div>
            {% for undergrad in undergraduates %}
            <div class="aspect-square rounded-lg shadow-lg flex flex-col overflow-hidden">
                <div class="bg-black h-3/4">
                    <img src="{% if undergrad.profile_picture %}{{ undergrad.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ undergrad.first_name }} {{ undergrad.last_name }}" class="w-full h-full object-cover rounded-t-lg">
                </div>
                <div class="flex items-center justify-center gap-4 p-4 h-1/4 md:gap-20">
                    <div>
                        <h2 class="font-bold text-lg md:text-xl">{{ undergrad.first_name }} {{ undergrad.last_name }}</h2>
                        <span class="italic text-sm md:text-base">{{ undergrad.degree }}</span>
                    </div>
                    <div>
                        {% if undergrad.linked_in_link %}
                        <a
                            href="{{ undergrad.linked_in_link }}"
                            class="text-blue-600 hover:text-blue-800"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <i class="fa-brands fa-linkedin fa-2xl" style="color: #4071b1;"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
