{% extends 'base_list.html' %}
{% load static %}


{% block title %}
    Responsible Computing
{% endblock title %}

{% block banner_title %}
Responsible Computing
{% endblock banner_title %}

{% block content %}
<div>
    <!-- Video Section -->
    <div class="relative  mb-3" style="padding-bottom: 39%;">
        <iframe
            class="absolute top-0 left-0 w-full h-700"
            width="full"
            height="700"
            src="https://www.youtube.com/embed/0Poy3Iavmeg?si=aYK99BVEHr1YDfAP"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
    </div>
    <div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div>
                <img src="{% static 'img/Responsible-1.jpeg' %}" alt="Responsible-Computing-1" class="w-33% h-70 ml-1 rounded-lg">
            </div>
            <div>
                <img src="{% static 'img/Responsible-2.jpeg' %}" alt="Responsible-Computing-2" class="w-26% h-70 ml-0.5 mr-20 rounded-lg">
            </div>
            <div class="container ml-1">
                <img src="{% static 'img/Responsible-3.jpeg' %}" alt="Responsible-Computing-3" class="w-40% h-80 ml-20 rounded-lg">
            </div>
        </div>
        <div class=" ml-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            <div class="p-1 container ml-5 mr-40  mt-5">
                <a href="https://foundation.mozilla.org/en/blog/robotics-and-ethics-intersect-for-rcc-awardee-jomo-kenyatta-university/" target="_blank">
                    <h2 class="text-lg font-bold ml-0 mb-2 hover:underline hover:text-blue-500">Mozilla pledges to support JKUAT in training to enhance Responsible Computer Science (RCC) capacity.</h2>
                </a>
                <p class="text-gray-600 ml-0 text-sm">During a visit to the university on Wednesday, February 28, 2024, Dr. Mbogho revealed developments stemming from JKUAT's successful acquisition of two Mozilla grants: Teaching Responsible Computing Using Robotics and Mainstreaming Responsible Computing (RC) in ICT Student Innovations.</p>
            </div>
            <div class="p-1 container  text-left mt-5 ml-40 mr-5">
                <a href="https://www.linkedin.com/posts/jkuat_mozilla-has-pledged-to-support-jomo-kenyatta-activity-7170346068797337600-qY-Y?utm_source=share&utm_medium=member_desktop" target="_blank">
                    <h2 class="text-lg font-bold ml-40 mb-2 hover:underline hover:text-blue-500">Integrating ethical perspectives within robotics curriculum</h2>
                </a>
                <p class="text-gray-600 ml-40 text-sm">JKUAT is successfully cultivating the core values of RCC by introducing undergraduates to ethical perspectives within BSc Computer Science and BSc Technology courses. Their goal? Equipping the next generation of tech builders with the critical skills to develop more inclusive, healthier, and safer digital tools.</p>
            </div>
        </div>
    </div>
    <div class="p-5 ml-40 mr-40 mt-20">
        <h2 class="text-3xl font-bold font-raleway mb-2 ml-10 mr-10">RESPONSIBLE COMPUTING ARTICLE</h2>
        <p class="text-1.5xl font-lato font-normal italic mb-6 ml-10 mr-10">By Dr. Eunice Njeri</p>
        <div class="w-auto h-1 bg-black ml-10 mr-20 mb-4"></div>
        <h3 class=" text-2xl font-raleway font-normal text-left ml-40 mr-40 mt-4">INTRODUCTION</h3>
        <p class="font-lato  font-normal text-left ml-40 mr-40 mb-4">
            Eunice Njeri, a lecturer in the Department of Computing at JKUAT and Principal Investigator (PI) for the Mozilla Responsible Computing project, is the lead of this initiative that aims to promote responsible computing practices among students. The project is a collaborative effort with Professor Kimani and is supported by four MSc students: Caroline Kabuti, Erick Otieno, Paul Demo, and Peter Kaburu.
        </p>
        <h3 class=" text-2xl font-raleway font-normal text-left ml-40 mr-40 mt-4">PROJECT OVERVIEW</h3>
        <p class="font-lato font-normal  text-left ml-40 mr-40  mb-4">
            The core objective of the Mozilla Responsible Computing project is to train computer science and technology students on ethical computing practices. The training integrates ethical considerations into the Human-Computer Interaction (HCI) courses. This approach covers human-centered design principles and responsible computing, with a focus on applying these concepts to the development of robotic applications.
        </p>
        <h3 class="text-2xl  font-raleway font-normal text-left ml-40 mr-40  mt-4">TRAINING METHODOLOGY</h3>
        <p class="font-lato font-normal  text-left  ml-40 mr-40 mb-3">
            The training begins with introducing students to the principles of responsible computing. After theoretical introductions, students are divided into groups to work on practical projects. They are encouraged to explore lab environments, generate project ideas, and incorporate responsible computing practices into their designs.
        </p>
        <p class="font-lato font-normal text-left ml-40 mr-40 mb-4">
            Students receive instruction on various aspects of responsible computing, which they apply during lab sessions and the implementation of their projects. The evaluation process includes presenting their projects and demonstrating how ethical considerations have been integrated into their designs. Group presentations encourage peer-to-peer learning and help students better understand the principles of responsible computing.
        </p>
        <h3 class="text-2xl font-raleway font-normal text-left ml-40 mr-40  mt-4">IMPACT AND ACHIEVEMENTS</h3>
        <p class="font-lato  font-normal text-left ml-40 mr-40  mb-4">
            In just a few months, the project has made significant strides in education and technology, resulting in several noteworthy achievements. These include solutions for children with special needs, improved accessibility in AI applications, and innovative applications demonstrating the importance of ethical computing practices. By incorporating AI and responsible computing, the project has broadened these fields to address critical societal issues, promoting ethical adherence.
        </p>
        <h3 class=" text-2xl font-raleway font-normal l text-left ml-40 mr-40  mt-4">LESSONS LEARNED</h3>
        <p class="font-lato t font-normal  text-left ml-40 mr-40  mb-40">
            The project has provided valuable insights into data protection and privacy, aligning with Mozilla’s guidelines for responsible data collection and storage. Students are taught to apply ethical decision-making frameworks, focusing on obtaining explicit consent and ensuring data privacy, particularly in sensitive sectors like healthcare.
        </p>
    </div>
</div>
</div>
{% endblock content %}
