{% extends 'base_list.html' %} 
{% load static %} 

{% block title %} Publications {% endblock title %} 

{% block banner_title %} Publications {% endblock banner_title %} 

{% block content %} 
{% for publication in publications %}
{% comment %} <div class="bg-white shadow-md rounded-lg p-5 my-6 mx-4 sm:mx-6 lg:mx-16">
    <div class="flex flex-col sm:flex-row gap-4 md:p-5 md:px-10">
        <img src="{% if publication.cover_image %}{{ publication.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ publication.title }}" class="object-cover rounded-lg w-full sm:w-1/2 h-auto">
        <div class="">
            <h2 class="text-xl font-semibold ">{{ publication.title }}</h2>
            <p class="">{{ publication.description }}</p>
                <a href="{{ publication.external_link }}" class="mt-4 w-fit flex justify-between items-center p-2  bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:border-2 hover:text-custom-lintingGreenDark transition duration-300" target="_blank">
                    <span>Go to Paper</span>
                    <i class="ml-2 fa fa-external-link" aria-hidden="true"></i>
                </a>
        </div>
    </div>
</div> {% endcomment %}
<div class="bg-white rounded-lg shadow-lg p-4 sm:p-6 mb-6 mx-2 sm:mx-4 lg:mx-20 flex flex-col sm:flex-row ">
    <!-- Project Image -->
    <div class="flex-shrink-0 w-full sm:w-1/3 lg:w-1/4 mb-4 sm:mb-0 sm:mr-6">
        <img src="{% if publication.cover_image %}{{ publication.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ publication.title }}" class="object-cover rounded-lg w-[400px] h-[200px]">
    </div>
    <!-- Project Description -->
    <div class="flex-grow w-full sm:w-2/3 lg:w-3/4 flex flex-col md:px-10 ">
        <h2 class="text-xl sm:text-md font-raleway font-semibold mb-2">{{ publication.title }}</h2>
        <p class="text-sm sm:text-base text-gray-700 font-lato mb-4 md:px-">{{ publication.description }}</p>
        <!-- Read More Button -->
        <div class="mt-4 w-fit flex justify-center items-center p-2 bg-custom-lintingGreenDark text-white border-2 rounded-lg hover:bg-transparent hover:border-2 border-custom-lintingGreenDark hover:text-custom-lintingGreenDark transition duration-300">
            <a href="{{publication.external_link  }}" target='_blank' class="flex items-center">
                Read more
                <i class="fa-solid fa-arrow-right-long ml-2"></i>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
