{% extends 'base_list.html' %}

{% block title %}
    News
{% endblock title %}

{% block banner_title %}
    News
{% endblock banner_title %}

{% load static %}
{% block content %}
<ul>
    {% for news in news %}
    <li>
        <a href="{% url 'news:detail' news.slug %}">{{ news }}</a>
    </li>
    {% endfor %}
</ul>
<div class="container mx-auto my-8 p-4 flex flex-col lg:flex-row items-center lg:items-start justify-between">
    
    <div class="lg:w-1/2 w-full mb-4 lg:mb-0 lg:mr-4 lg:mt-6 "> 
        <img src="{% static 'img/group 47.png' %}" alt="News feed" class="mx-auto">
    </div>
  
    <div class="lg:w-1/2 w-full text-center lg:text-left mt-6"> 
        <h1 class="text-3xl font-bold font-raleway mb-2">Responsible AI Key to Harnessing<br> its Potential</h1>
       <a href="#">  <h2 class=" text-2xl font-lato underline font-semibold text-gray-600 mb-4">April 16, 2024 The Editor </h2> </a>
        <p class=" leading-relaxed font-lato text-2xl font-medium">In the age of rapid technological advancement, Artificial 
             intelligence (AI) has become a transformational force with unparalleled potential to change the future. It is imperative to ensure that AI is used ethically to impact society positively. In efforts to promote responsible AI, initiatives such as Microsoft’s AI for Good Lab have emerged, championing the cause of responsible AI projects that place societal well-being and ethical considerations first.</p>
    </div>
</div>

<div class="container mx-auto my-8 p-4 flex flex-col lg:flex-row items-center lg:items-start justify-between">
    
    <div class="lg:w-1/2 w-full mb-4 lg:mb-0 lg:mr-4 lg:mt-6 "> 
        <img src="{% static 'img/group 47.png' %}" alt="News feed" class="mx-auto">
    </div>
    
    <div class="lg:w-1/2 w-full text-center lg:text-left mt-6"> 
        <h1 class="text-3xl font-bold font-raleway mb-2">Responsible AI Key to Harnessing<br> its Potential</h1>
       <a href="#">  <h2 class=" text-2xl font-lato underline font-semibold text-gray-600 mb-4">April 16, 2024 The Editor </h2> </a>
        <p class=" leading-relaxed font-lato text-2xl font-medium">In the age of rapid technological advancement, Artificial 
             intelligence (AI) has become a transformational force with unparalleled potential to change the future. It is imperative to ensure that AI is used ethically to impact society positively. In efforts to promote responsible AI, initiatives such as Microsoft’s AI for Good Lab have emerged, championing the cause of responsible AI projects that place societal well-being and ethical considerations first.</p>
    </div>
</div>

<div class="container mx-auto my-8 p-4 flex flex-col lg:flex-row items-center lg:items-start justify-between">
    
    <div class="lg:w-1/2 w-full mb-4 lg:mb-0 lg:mr-4 lg:mt-6 "> 
        <img src="{% static 'img/group 47.png' %}" alt="News feed" class="mx-auto">
    </div>
    
    <div class="lg:w-1/2 w-full text-center lg:text-left mt-6"> 
        <h1 class="text-3xl font-bold font-raleway mb-2">Responsible AI Key to Harnessing<br> its Potential</h1>
       <a href="#">  <h2 class=" text-2xl font-lato underline font-semibold text-gray-600 mb-4">April 16, 2024 The Editor </h2> </a>
        <p class=" leading-relaxed font-lato text-2xl font-medium">In the age of rapid technological advancement, Artificial 
             intelligence (AI) has become a transformational force with unparalleled potential to change the future. It is imperative to ensure that AI is used ethically to impact society positively. In efforts to promote responsible AI, initiatives such as Microsoft’s AI for Good Lab have emerged, championing the cause of responsible AI projects that place societal well-being and ethical considerations first.</p>
    </div>
</div>




{% endblock content %}
