{% extends 'base_list.html' %}
{% load static %}

{% block title %}
    News
{% endblock title %}

{% block banner_title %}
    News
{% endblock banner_title %}

{% block content %}
{% for news in news %}
<!-- News Section -->
<h2>News</h2>
<div class="bg-white rounded-lg shadow-lg  sm:p-8 mb-6 mx-2 sm:mx-4 lg:mx-16 flex flex-col items-start sm:flex-row ">
    <!-- Image  -->
    <div class="lg:w-1/2 w-full mb-6 lg:mb-4 lg:mr-4 lg:mt-8 sm:w-2/3 lg:h-auto ">
        <img src="{% if news.cover_image %}{{ news.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ news }}" class="mx-auto object-cover rounded-xl w-full lg:w-full">
    </div>
    <!-- Content section -->
    <div class="lg:w-1/2 w-full text-center lg:text-left lg:mb-4 lg:ml-4 lg:mt-8 sm:w-3/4 lg:h-auto flex items-center justify-between lg:items-start lg:mr-4  ">
        <div>
            <div>
                <h1 class="text-3xl font-bold font-raleway mb-2">
                    {{news.title}}
                </h1>
            </div>
            <!-- News creation date -->
            <h2 class=" font-lato underline font-bold text-gray-700 mb-4 mt-4">
                {{news.created_at}}
            </h2>
            <!-- News Description -->
            <p class="leading-relaxed font-lato text-lg font-medium sm:mr-4 sm:ml-4 mt-12">
                {{news.description}}
            </p>
            <!-- Button -->
            <div class="mt-2 mb-12 sm:mt-8 sm:mb-12 sm:justify-start ">
                {% if news.external_link %}
                <a href="{{ news.external_link }}" class="p-2 bg-custom-lintingGreenDark text-white border-2 border-custom-lintingGreenDark rounded-lg hover:bg-transparent hover:border-2 hover:text-custom-lintingGreenDark transition duration-300 w-full sm:w-auto text-center">
                    <span class="text-xl">Read more</span>
                    <i class="fa-solid fa-arrow-right-long ml-2"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
