{% extends 'base_list.html' %}
{% load static %}

{% block title %}
    News
{% endblock title %}

{% block banner_title %}
    News
{% endblock banner_title %}

{% block content %}
{% for news in news %}
<div class="bg-white rounded-lg shadow-lg p-4 sm:p-6 mb-6 mx-2 sm:mx-4 lg:mx-16 flex flex-col sm:flex-row items-center">
    <!-- Image  -->
    <div class="lg:w-1/2 w-full mb-6 lg:mb-4 lg:mr-4 lg:mt-6 sm:w-2/3 lg:h-auto">
        <img src="{% if news.cover_image %}{{ news.cover_image.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" alt="{{ news }}" class="mx-auto object-cover rounded-xl w-full border-black lg:w-3/4">
    </div>
    <!-- Title -->
    <div class="lg:w-3/5 w-full text-center lg:text-left mt-6 sm:w-3/4 lg:h-auto flex items-center lg:items-start lg:mr-4">
        <div>
            <a href="{{ news.external_link }}" target="_blank">
                <h1 class="text-3xl font-bold font-raleway mb-2">
                    {{news.title}}
                </h1>
            </a> 
            <!-- <a href="{{ news.external_link }}" target="_blank">
                <p class="font-lato font-medium text-3xl text-custom-navyBlue mt-8">Read more -></p>
            </a> -->
            <!-- News creation date -->
            <h2 class=" font-lato underline font-bold text-gray-700 mb-4">
                {{news.created_at}}
            </h2>
            <!-- News Description -->
            <p class="leading-relaxed font-lato text-lg font-medium sm:mr-4 sm:ml-4">
                {{news.description}}
            </p>
        </div>
    </div>
</div>


{% endfor %}
{% endblock content %}
