<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JKUAT Social Robotics | {% block title %}{% endblock title %}</title>
        {% include './dependancies/css.html' %}
    </head>
    <body>
        {% include './components/header.html' %}
        {% include './components/sidebar.html' %}
        <div class="bg-custom-lintingGreenDark p-8">
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                <h1 class="text-white font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center sm:text-left mt-10 mb-6 px-4">
                    <a href="{% url 'core:home' %}" class="text-blue-700 hover:text-white font-medium">Home</a>
                    <span class="text-gray-400 mx-1">/</span>
                </h1>
                
                <h1 class="text-white font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center sm:text-left mt-10 mb-6 px-4">
                    {% block banner_title %}{% endblock banner_title %}
                </h1>
            </div>
            
        </div>
        <div class="container mx-auto md:p-0 p-4">
            {% block content %}{% endblock content %}
        </div>
        {% include './components/footer.html' %}
    </body>
</html>
