<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JKUAT Social Robotics | {% block title %}{% endblock title %}</title>
        {% include './dependancies/css.html' %}
    </head>
    <body>
        {% include './components/header.html' %}
        {% include './components/sidebar.html' %}
        <div class="mx-auto container">
            {% block body %}{% endblock body %}
        </div>
        {% include './components/footer.html' %}
    </body>
</html>
