{% load static %}

<header class="bg-[#019ED5] py-5 relative" id="main-header">
  <nav class="flex items-center justify-center gap-12" id="main-nav">
    <div class="flex items-center mr-24 lg:mr-36">
      <a href="{% url 'core:home' %}">
        <img src="{% static 'img/jkuatlogo.png' %}" alt="Logo" class="h-12" />
      </a>
    </div>
    <div class="ml-24">
      <ul class="flex items-center gap-5 text-white ml-12 lg:ml-12">
        <li>
          <a
            href="{% url 'core:about' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/about/' %}text-red-500 underline{% endif %}"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="{% url 'people:list' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/team/' %}text-red-500 underline{% endif %}"
          >
            Team
          </a>
        </li>
        <li>
          <a
            href="{% url 'news:list' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/news/' %}text-red-500 underline{% endif %}"
          >
            News
          </a>
        </li>
        <li>
          <a
            href="{% url 'projects:projects' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/projects/' %}text-red-500 underline{% endif %}"
          >
            Projects
          </a>
        </li>
        <li>
          <a
            href="{% url 'outreach:outreach' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/outreach/' %}text-red-500 underline{% endif %}"
          >
            Outreach
          </a>
        </li>
        <li>
          <a
            href="{% url 'publications:publications' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/publications/' %}text-red-500 underline{% endif %}"
          >
            Publications
          </a>
        </li>
        <li>
          <a
            href="{% url 'responsible_computing:responsible_computing' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/robots/' %}text-red-500 underline{% endif %}"
          >
            Responsible Computing
          </a>
        </li>
        <li>
          <a
            href="{% url 'robots:robots' %}"
            class="text-white no-underline hover:text-red-500 hover:underline {% if request.path == '/robots/' %}text-red-500 underline{% endif %}"
          >
            Robots
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <img
     class="w-screen h-3 absolute top-[87px]"
      src="{% static 'img/headerredbottom.png' %}"
      alt="redbottomline"
    />
  </div>
</header>

{% comment %} {% if user.is_authenticated %}
<li class="flex items-center">
  Hi {{ user.username }}!
  <form
    id="logout-form"
    method="post"
    action="{% url 'accounts:logout' %}"
    class="ml-4"
  >
    {% csrf_token %}
    <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded">
      Logout
    </button>
  </form>
</li>
{% else %}
<li><p class="inline">You are not logged in</p></li>
<li><a href="{% url 'accounts:login' %}" class="hover:underline">Login</a></li>
{% endif %} {% endcomment %}
