<header>
    <nav>
        <ul>
            <li><a href="{% url 'core:home' %}">Home</a></li>
            {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>

            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
            <li><a href="{% url 'news:news' %}">News</a></li>
            <li><a href="{% url 'team:team' %}">Team</a></li>
            <li><a href="{% url 'projects:projects' %}">Projects</a></li>
            <li><a href="{% url 'robots:robots' %}">Robots</a></li>
            <li><a href="{% url 'publications:publications' %}">Publications</a></li>
            <li><a href="{% url 'responsible_computing:responsible_computing' %}">Responsible Computing</a></li>
            <li><a href="{% url 'outreach:outreach' %}">Outreach</a></li>
            <li><a href="{% url 'faqs:faqs' %}">FAQs</a></li>
        </ul>
    </nav>
</header>