{% load static %}
<header class="bg-custom-cyanBlue sticky top-0" id="main-header">
    <nav id="main-nav">
        <div class="flex justify-between items-center px-2 md:px-5 pt-2 relative">
            <a href="{% url 'core:home' %}">
                <img src="{% static 'img/core/logo.png' %}" alt="" class="h-14 ">
            </a>
            <div class="flex items-center gap-4 md:hidden">
                <!-- search button in mobile view -->
                <button id="search-toggle" class="block text-white focus:outline-none z-20">
                    <img src="{% static 'img/search-icon.png' %}" alt="" class="size-5">
                </button>
                <!-- menu toggle button in mobile view -->
                <button id="menu-toggle" class="block text-white focus:outline-none z-20">
                    <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                    <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="hidden md:flex gap-10 items-center justify-center">
                <!-- search bar for desktop view -->
                <form action="{% url 'core:search' %}" method="get" class="flex flex-row border rounded-2xl items-center gap-2 pl-2">
                    <input type="text" name="q" required class="appearance-none bg-custom-cyanBlue text-white focus:outline-none focus:shadow-outline placeholder:text-white" placeholder="Type to search ...">
                    <button type="submit" class="bg-custom-lintingGreenDark text-white p-2 rounded-e-2xl border-none hover:bg-blue-900 hover:transform duration-300">
                        <img src="{% static 'img/search-icon.png' %}" alt="" class="size-5">
                    </button>
                </form>
            </div>
        </div>

        <div class=" hidden md:block border-b mx-3"></div>
        
        <!-- Search bar for mobile view -->
        <div id="mobile-search-bar" class="hidden md:hidden mt-2 drop-shadow-lg  shadow-black text-white">
            <form action="{% url 'core:search' %}" method="get" class=" w-full flex flex-row border rounded-2xl justify-between gap-2 pl-2">
                <input type="text" name="q" required class="appearance-none bg-custom-cyanBlue text-white focus:outline-none via w-full placeholder:text-white" placeholder="Type to search ...">
                <button type="submit" class="bg-custom-lintingGreenDark text-white p-3 px-4 rounded-e-2xl border-none hover:bg-blue-900 hover:transform duration-300">
                    <img src="{% static 'img/search-icon.png' %}" alt="" class="size-5">
                </button>
            </form>
        </div>
        
        <div class="p-2 relative">
            <ul id="navbar-items"
                class="hidden py-2 md:flex md:items-center md:justify-center gap-6 md:gap-12 text-white opacity-90 md:opacity-1 duration-300  absolute top-0 left-0 right-0 bg-custom-lintingGreenDark z-10 md:relative md:bg-transparent">
                <li>
                    <a href="{% url 'core:home' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/' %}text-custom-red   d{% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:about' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/about/' %}text-custom-red   {% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        About
                    </a>
                </li>
                <li>
                    <a href="{% url 'people:list' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/team/' %}text-custom-red   {% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        Team
                    </a>
                </li>
                <li>
                    <a href="{% url 'projects:list' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/projects/' %}text-custom-red   {% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="{% url 'publications:list' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/publications/' %}text-custom-red   {% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        Publications
                    </a>
                </li>
                <li>
                    <a href="{% url 'responsible_computing:responsible_computing' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/responsible_computing/' %}text-custom-red   {% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        Responsible Computing
                    </a>
                </li>
                <li>
                    <a href="{% url 'robots:list' %}"
                        class="relative inline-block pb-1 text-lg {% if request.path == '/robots/' %}text-custom-red   {% endif %} after:content-[''] after:absolute after:w-0 after:h-0.5 after:bg-custom-red after:right-0 after:bottom-0 after:transition-width after:duration-400 hover:after:w-full hover:after:left-0 transform hover:-translate-y-1 transition-transform">
                        Robots
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<style>
  #main-header {
    transition: transform 0.3s ease-in-out; /* Smooth transition for hiding */
  }

  #main-header.hide {
    transform: translateY(-100%);
  }
  #main-nav ul {
    overflow: hidden;
  }

  /* Animate fadeIn */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s forwards;
    opacity: 1;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  .animate-fadeIn {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
</style>
<script>
    let lastScrollTop = 0;
    let isScrolling;
    const header = document.getElementById("main-header");

    window.addEventListener("scroll", function () {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > lastScrollTop) {
      // Scrolling down
      header.classList.add("hide");
    } else {
      // Scrolling up
      header.classList.remove("hide");
    }

    // Clear any previous timeout
    clearTimeout(isScrolling);

    // Set a timeout to hide the header when scrolling stops
    isScrolling = setTimeout(function () {
      header.classList.remove("hide");
    }, 100); // 100ms delay before hiding the header after scrolling stops

    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
  });

    document.getElementById('menu-toggle').addEventListener('click', function (e) {
        e.stopPropagation();
        const navbarItems = document.getElementById('navbar-items');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');
        
        if (navbarItems.classList.contains('hidden')) {
            navbarItems.classList.remove('hidden');
            navbarItems.classList.add('flex', 'flex-col', 'items-center', 'gap-4');
            menuIcon.classList.add('hidden');
            closeIcon.classList.remove('hidden');
        } else {
            navbarItems.classList.add('hidden');
            navbarItems.classList.remove('flex', 'flex-col', 'items-center', 'gap-4');
            menuIcon.classList.remove('hidden');
            closeIcon.classList.add('hidden');
        }
    });

    document.getElementById('search-toggle').addEventListener('click', function (e) {
        e.stopPropagation();
        const searchBar = document.getElementById('mobile-search-bar');
        if (searchBar.classList.contains('hidden')) {
            searchBar.classList.remove('hidden');
        } else {
            searchBar.classList.add('hidden');
        }
    });

    document.addEventListener('click', function () {
        const navbarItems = document.getElementById('navbar-items');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');
        const searchBar = document.getElementById('mobile-search-bar');
        
        if (!navbarItems.classList.contains('hidden')) {
            navbarItems.classList.add('hidden');
            navbarItems.classList.remove('flex', 'flex-col', 'items-center', 'gap-4');
            menuIcon.classList.remove('hidden');
            closeIcon.classList.add('hidden');
        }
        
        if (!searchBar.classList.contains('hidden')) {
            searchBar.classList.add('hidden');
        }
    });

    // Prevent hiding when clicking inside the navbar or search bar
    document.getElementById('navbar-items').addEventListener('click', function (e) {
        e.stopPropagation();
    });
    document.getElementById('mobile-search-bar').addEventListener('click', function (e) {
        e.stopPropagation();
    });
</script>
