{% extends 'base_list.html' %}
{% load static %}
{% block title %}Events{% endblock title %}
{% block banner_title %}Events{% endblock banner_title %}
{% block content %}
{% for event in events %}
<div class="bg-custom-lightGray p-6 rounded-lg shadow-lg">
    <h3 class="text-2xl font-semibold mb-4">{{ event.title }}</h3>
    <p class="text-gray-600 mb-4">{{ event.date_starting }}</p>
    <p class="text-gray-600 mb-6">{{ event.location }}</p>
    <p class="text-gray-700 mb-4">{{ event.description }}</p>
    <a href="{{ event.external_link }}" class="text-custom-lintingGreenDark font-semibold hover:underline">Learn More</a>
</div>
{% empty %}
<div>No events</div>
{% endfor %}
{% endblock content %}


<div class="mt-16">
    <h2 class="mt-4 md:mt-8 text-xl md:text-3xl font-raleway text-gray-800  font-bold">UNDERGRADUATE STUDENTS</h2>
    <div class="border border-black mb-8"></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="aspect-square border rounded-lg bg-custom-lintingGreenDark text-white flex flex-col p-6">
            <div class="h-3/4">
                <h2 class="font-bold text-3xl md:text-4xl lg:text-5xl">
                    Robotics Dojo Team 2024
                </h2>
            </div>
            <div class="text-lg md:text-xl lg:text-2xl h-1/4">
                <p>The lab had the following team of undergraduate students participate in the competition.</p>
            </div>
        </div>
        {% for undergrad in undergraduates %}
        <div class="aspect-square rounded-lg shadow-lg flex flex-col overflow-hidden">
            <div class="bg-black h-3/4 flex items-center justify-center overflow-hidden rounded-t-lg">
                <img src="{% if undergrad.profile_picture %}{{ undergrad.profile_picture.url }}{% else %}{% static 'img/core/default-image.png' %}{% endif %}" 
                     alt="{{ undergrad.first_name }} {{ undergrad.last_name }}" 
                     class="w-full h-full object-fit object-center">
            </div>
            
            
            <div class="flex items-center justify-center gap-4 p-4 h-1/4 md:gap-20">
                <div>
                    <h2 class="font-bold text-lg md:text-xl">{{ undergrad.first_name }} {{ undergrad.last_name }}</h2>
                    <span class="italic text-sm md:text-base">{{ undergrad.degree }}</span>
                </div>
                <div>
                    {% if undergrad.linked_in_link %}
                    <a
                        href="{{ undergrad.linked_in_link }}"
                        class="text-blue-600 hover:text-blue-800"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="fa-brands fa-linkedin fa-2xl" style="color: #4071b1;"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>